.vs/ProjectSettings.json
.vs/ProjetCNTN/config/applicationhost.config
.vs/ProjetCNTN/FileContentIndex/044b7113-db14-4cb4-88fa-60b3e5e06be7.vsidx
.vs/ProjetCNTN/FileContentIndex/28fae98c-81d9-4afd-9373-a1c1e899c33a.vsidx
.vs/ProjetCNTN/FileContentIndex/421dd0db-fd2e-4e79-abbf-5fd3b7e9d0b2.vsidx
.vs/ProjetCNTN/FileContentIndex/59c58452-01db-4427-bcf4-3dfffac0a816.vsidx
.vs/ProjetCNTN/FileContentIndex/f9f088c3-4ff8-4bfb-ba4b-323180c9914f.vsidx
.vs/slnx.sqlite
.vs/ProjetCNTN/FileContentIndex/112aa968-15bb-46f7-b733-9acfb592b115.vsidx
.vs/ProjetCNTN/FileContentIndex/c34edebc-55fd-472a-86b3-e6e64bf4c09d.vsidx
.vs/ProjetCNTN/FileContentIndex/3fd2b9c0-2f95-478f-bb1d-534bfcdcb32a.vsidx
.vs/ProjetCNTN/FileContentIndex/94774b13-dfca-420d-8699-0afd1457c92a.vsidx
.vs/ProjetCNTN/FileContentIndex/e24ddd08-3a7a-4b94-bd6c-42c2e1914a12.vsidx
.vs/ProjetCNTN/v17/.wsuo
.vs/ProjetCNTN/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/ProjetCNTN/FileContentIndex/11e81fc9-e190-4fa0-8be8-e2d4dd1b2074.vsidx
.vs/ProjetCNTN/FileContentIndex/972b531c-a0bb-4218-972b-65f35c98d7b5.vsidx
.vs/ProjetCNTN/FileContentIndex/a7a023e5-6d08-425b-a9b6-b3578e9ac3ff.vsidx
.vs/slnx.sqlite-journal
.vs/ProjetCNTN/FileContentIndex/3996e2f5-38f6-42fc-8cec-bd17b7e456c1.vsidx
.vs/ProjetCNTN/FileContentIndex/703e190f-7dfa-4eb0-a530-91bcca454146.vsidx
.vs/ProjetCNTN/FileContentIndex/0f7e7b75-a414-4a3d-a1e1-345d8454d159.vsidx
.vs/ProjetCNTN/FileContentIndex/0ff8eac3-425a-4644-9cd2-469e8bc5fb50.vsidx
.vs/ProjetCNTN/FileContentIndex/331ccd0d-7feb-4e68-8ded-efa164e838be.vsidx
.vs/ProjetCNTN/FileContentIndex/43d9a1a1-f3a2-403d-ab75-4bccaeea4b58.vsidx
.vs/ProjetCNTN/FileContentIndex/ed11cec9-7ba0-47fe-9db3-c46a247290aa.vsidx
.vs/ProjetCNTN/v17/DocumentLayout.backup.json
.vs/ProjetCNTN/FileContentIndex/21325c66-d857-4eb2-99a2-8620464fff4e.vsidx
.vs/ProjetCNTN/FileContentIndex/628d8d87-da76-4461-927b-cbc94fe3c2e0.vsidx
.vs/ProjetCNTN/FileContentIndex/74d322cc-b2a3-484d-aa0b-9eb5c2ebde61.vsidx
.vs/ProjetCNTN/FileContentIndex/93feac56-783b-4aa0-ad68-f7487a42638d.vsidx
.vs/ProjetCNTN/FileContentIndex/4dfc5b74-c15b-403d-8328-222d43393f14.vsidx
/.vs
