.vs/ProjectSettings.json
.vs/ProjetCNTN/config/applicationhost.config
.vs/ProjetCNTN/FileContentIndex/044b7113-db14-4cb4-88fa-60b3e5e06be7.vsidx
.vs/ProjetCNTN/FileContentIndex/28fae98c-81d9-4afd-9373-a1c1e899c33a.vsidx
.vs/ProjetCNTN/FileContentIndex/421dd0db-fd2e-4e79-abbf-5fd3b7e9d0b2.vsidx
.vs/ProjetCNTN/FileContentIndex/59c58452-01db-4427-bcf4-3dfffac0a816.vsidx
.vs/ProjetCNTN/FileContentIndex/f9f088c3-4ff8-4bfb-ba4b-323180c9914f.vsidx
.vs/slnx.sqlite
