{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar">
    <a href="" class="btn-navbar"><img src="{% static 'home_photos/Guetto Logo.png' %}" class="img"></a>
</nav>
<div class="background"></div>
<div class="foreground">
    <br />
    <h1>Projet du groupe Guetto auprès du jury du CNTN</h1>
    <br />
    <br />
    <a class="btn justify-content-center" href="{% url 'home' %}">Decouvrir le projet</a>
</div>
<div class="navbar-2">
    <h1 class="h1-intro"> Qui sommes-nous ?</h1>
</div>
<div>
    <h2 class="h2-intro">Des passionnés de Tech proposant trois solutions numériques pour améliorer le pays sous différents aspects</h2>
</div>
<div class="navbar-2">
    <h1 class="h1">Education, Economie, Information</h1>
</div>
{% endblock content %}